<section id="feedbacks">
  <div class="card">
    <h2 class="card-header">
      pontos fortes
      <i class="fas fa-dumbbell"></i>
    </h2>
    <div class="card-body">
      <ul>
        <li> - colaborativo</li>
        <li> - inteligencia emocional</li>
        <li> - aprendizado rápido</li>
      </ul>
    </div>
  </div>
  <div class="card">
    <h2 class="card-header">
      pontos fracos
      <i class="fas fa-exclamation"></i>
    </h2>
    <div class="card-body">
      <ul>
        <li> - comunicação</li>
        <li> - ansiedade</li>
        <li> - comunicação com a liderança</li>
      </ul>
    </div>
  </div>
</section>
