#momento {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: auto;
  margin-top: 100px;

  h2, p {
    color: whitesmoke;
    text-align: center;
  }

  h2 {
    font-size: 30px;
    margin: 50px 0 16px;
  }

  p {
    font-size: 20px;
  }

  i {
    font-size: 150px;
    color: #fff;
  }
}

.obj {
  margin-top: 1px;
  width: 50%;
}
