<section id="plano">
  <h2>plano de ação para atingir o primeiro passo</h2>
  <div class="passos">
    <div class="card">
      <h3 class="card-header">
        plano de ação
      </h3>
      <div class="card-body">
       <table class="container plano-table">
         <thead>
           <tr>
             <th>ações</th>
             <th>prazo</th>
             <th>apoio</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <td class="plano-table__first">
               realização de cursos
             </td>
             <td>6 meses</td>
             <td>-</td>
           </tr>
           <tr>
             <td class="plano-table__first">
               elaboração de apresentação sobre tagueamento na internet e/ou sobre
               arquitetura do Itáu (principalmente para os novos engenheiros)
             </td>
             <td>até 15/07</td>
             <td>allan</td>
           </tr>
           <tr>
             <td class="plano-table__first">iniciar estudos para as provas de certificação</td>
             <td>6 meses</td>
             <td>lucas, allan, bispo, gustavo</td>
           </tr>
           <tr>
             <td class="plano-table__first">criação de projetos utilizando angular 9</td>
             <td>até 15/07</td>
             <td>-</td>
           </tr>
           <tr>
             <td class="plano-table__first">estudar implementação do Voxel na internet, AWS e core 4</td>
             <td>até 31/07</td>
             <td>allan, gabriel, pedro</td>
           </tr>
         </tbody>
       </table>
      </div>
    </div>
  </div>
</section>
