<header>
  <div class="nav">
    <div class="inicio">
      <a routerLinkActive="active" routerLink="/home">
        <i class="fas fa-code"></i>
        pdi
      </a>
    </div>
    <nav class="menu">
      <ul>
        <li><a routerLinkActive="active" routerLink="/objetivos">objetivos</a></li>
        <li><a routerLinkActive="active" routerLink="/comomevejo">como me vejo</a></li>
        <li><a routerLinkActive="active" routerLink="/feedbacks">feedbacks</a></li>
        <li><a routerLinkActive="active" routerLink="/momento-carreira">momento de carreira</a></li>
        <li><a routerLinkActive="active" routerLink="/passos">passos</a></li>
        <li><a routerLinkActive="active" routerLink="/plano-acao">plano de ação</a></li>
      </ul>
    </nav>
  </div>
</header>
