<section id="passos">
  <h2>passos para atingir o objetivo de carreira</h2>
  <div class="passos">
    <div class="card">
      <h3 class="card-header">
        primeiro passo
      </h3>
      <div class="card-body">
        <ul>
          <li> - obtenção de certificados de tecnologias modernas (cursos online)</li>
          <li> - criação de grupo de estudos para certificações presenciais (java e js)</li>
          <li> - criação de projetos individuais com intuito de aprimorar par técnica</li>
          <li> - apresentação de meetups na quarta da horizontal</li>
          <li> - iniciar implementação de novas tecnologias no Itaú (AWS e Voxel)</li>
        </ul>
      </div>
    </div>
    <div class="card">
      <h3 class="card-header">
        segundo passo
      </h3>
      <div class="card-body">
        <ul>
          <li> - realizar provas de certificação</li>
          <li> - realizar benchmark com outras empresas afim de entender novas tecnologias
             de mercado que estão emergindo</li>
          <li> - implantar novas tecnologias no Itaú (AWS e Voxel)</li>
          <li> - monitoramento e melhorias nos projetos individuais</li>
        </ul>
      </div>
    </div>
    <div class="card">
      <h3 class="card-header">
        terceiro passo
      </h3>
      <div class="card-body">
        <ul>
          <li> - começar a implementar novas tecnologias que podem ser utilizadas no Itaú (retiradas do benchmark)</li>
        </ul>
      </div>
    </div>
  </div>
</section>
