#passos {
  width: 100%;
  margin: auto;
  margin-top: 50px;
  .passos {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h2 {
    font-size: 30px;
    margin: 50px 0 16px;
    color: whitesmoke;
    text-align: left;
  }

  .card {
    margin-top: 50px;
    background: none;
    border: 2px solid #f2f2f2;
    margin-bottom: 20px;
    box-shadow: 2px 2px 2px rgba($color: #000000, $alpha: 0.4);
    border-radius: 4px;
    max-width: 30%;
  }

  .card-header {
    background: #737272;
    color: whitesmoke;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
  }

  .card-body {
    background: #f2f2f2;
    color: #262223;

    li {
      line-height: 24px;
    }
  }
}

