<section id="comomevejo">
  <div class="comomevejo">
    <div class="card">
      <h2 class="card-header">
        pontos fortes
        <i class="fas fa-dumbbell"></i>
      </h2>
      <div class="card-body">
        <ul>
          <li> - foco</li>
          <li> - comprometimento com entregas</li>
          <li> - aprendizado rápido</li>
          <li> - melhora contínua</li>
          <li> - trabalho em equipe</li>
        </ul>
      </div>
    </div>
    <div class="card">
      <h2 class="card-header">
        pontos fracos
        <i class="fas fa-exclamation"></i>
      </h2>
      <div class="card-body">
        <ul>
          <li> - comunicação interpessoal</li>
          <li> - experiência</li>
          <li> - facilidade de comunicação com a liderança</li>
          <li class="invisible">asdad</li>
          <li class="invisible">adasda</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card">
    <h2 class="card-header">
      skils
    </h2>
    <div class="card-body">
      <table class="container">
        <thead>
          <tr>
            <th>linguagem</th>
            <th>básico</th>
            <th>intermediário</th>
            <th>avançado</th>
            <th>expert</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>javascript</td>
            <td><i class="fab fa-js-square"></i></td>
            <td><i class="fab fa-js-square"></i></td>
            <td><i class="fab fa-js-square"></i></td>
            <td></td>
          </tr>
          <tr>
            <td>html</td>
            <td><i class="fab fa-html5"></i></td>
            <td><i class="fab fa-html5"></i></td>
            <td><i class="fab fa-html5"></i></td>
            <td></td>
          </tr>
          <tr>
            <td>angular js</td>
            <td><i class="fab fa-angular"></i></td>
            <td><i class="fab fa-angular"></i></td>
            <td><i class="fab fa-angular"></i></td>
            <td></td>
          </tr>
          <tr>
            <td>css</td>
            <td><i class="fab fa-css3-alt"></i></td>
            <td><i class="fab fa-css3-alt"></i></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>java</td>
            <td><i class="fab fa-java"></i></td>
            <td><i class="fab fa-java"></i></td>
            <td><i class="fab fa-java"></i></td>
            <td></td>
          </tr>
          <tr>
            <td>node.js (API)</td>
            <td><i class="fab fa-node-js"></i></td>
            <td><i class="fab fa-node-js"></i></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>angular (>6)</td>
            <td><i class="fab fa-angular"></i></td>
            <td><i class="fab fa-angular"></i></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
