<section id="comomevejo">
  <h2>como me vejo</h2>
  <div class="comomevejo">
    <mat-card>
      <mat-card-header>
        <mat-card-title>pontos fortes</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li>foco</li>
          <li>comprometimento com entregas</li>
          <li>aprendizado rápido</li>
          <li>melhora contínua</li>
          <li>trabalho em equipe</li>
        </ul>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>pontos fracos</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li>comunicação interpessoal</li>
          <li>experiência</li>
          <li>facilidade de comunicação com a liderança</li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
</section>
